ansible==2.2.0.0
cffi==1.9.1
colorama==0.3.7
configobj==5.0.6
cryptography==1.7.1
enum34==1.1.6
idna==2.1
ipaddress==1.0.17
jenkinsapi==0.3.3
Jinja2==2.8
MarkupSafe==0.23
paramiko==2.1.1
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
pyfiglet==0.7.5
python-gitlab==0.17
python-nmap==0.6.1
pytz==2016.10
PyYAML==4.2b1
requests==2.12.4
six==1.10.0
termcolor==1.1.0
