{% include 'partials/header.html' %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/home';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('requesting_updates', {data: 'I\'m connected!'});
            });

            socket.on('populate_updates', function(msg) {

                $("#hor").text(msg['total_open']);
                $("#hcr").text(msg['total_closed']);
                $("#hwr").text(msg['total_wip']);
            });

        });
    </script>

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div id="page-title" style="width: 50%; margin: 0 auto; margin-top: 80px">
        <h1>Totals from the last sprint which started on {{ sprint_start }}</h1>
    </div>
    <div id="open-requests-total" style="width:33%; float: left; margin-top: 30px">
              <h2>Open Requests</h2>
        <div id="open-value" style="width:50%; margin: 0 auto">
            <h1 id="hor">{{ total_open }}</h1>
        </div>
    </div>
    <div id="wip-requests-total" style="width:33%; float: right; margin-top: 30px">
        <h2>WIP Requests</h2>
        <div id="wip-value" style="width:50%; margin: 0 auto">
            <h1 id="hwr">{{ total_wip }}</h1>
        </div>
    </div>
    <div id="closed-requests-total" style="width:33%; margin: 0 auto; margin-top: 60px">
            <h2>Closed Requests</h2>
        <div id="closed-value" style="width:50%; margin: 0 auto">
            <h1 id="hcr">{{ total_closed }}</h1>
        </div>
    </div>
    <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
        console.log('Connection Made');
    });
        setTimeout(function(){
        window.location.reload(1);
        }, 120000);
    </script>
</div>
{% include 'partials/footer.html' %}